<section class="well well_design_bottom">
	<form method="post">

		<div class="form-group">
			<label for="asset">Asset</label>
			<input type="text" class="form-control" name="asset" id="asset" value="<%= set %>">
		</div>

		<div class="form-group">
			<label for="andelacode">Andela Code</label>
			<input type="text" class="form-control" name="andelacode" id="andelacode" value="<%= a_code %>">
		</div>

		<div class="form-group">
			<label for="assigner">Assigned By</label>
			<input type="text" class="form-control" name="assigner" id="assigner">
		</div>

		<div class="form-group">
			<label for="assignee">Assigned To</label>
			<input type="text" class="form-control" name="assignee" id="assignee">
		</div>

		<div class="form-group">
			<label for="duration">Asset Duration</label>
			<input type="text" class="form-control" name="duration" id="duration">
			<p style="color: #555">This is the valid time the asset is required to be in the hands of the assignee</p>
		</div>

		<div class="form-group">
			<button class="btn btn-success">Assign Asset</button>
		</div>
	</form>
</section>