<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<span class="navbar-brand" id="logo-placeholder"><a href="/">Home</a></span>
		<ul class="nav nav-pills pull-right" id="nav-menu">
			<li><a href="/admin">Manage Admin</a></li>			
			<li><a href="/new" id="create-admin">Create Admin</a></li>			
			<li><a href="#" id="note">Notifications</a></li>
			<li><a href="/logout">Log Out</a></li>
		</ul>
	</nav>
</header>