<!doctype html>

<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>
	<body>
		<section class="well" id="employee-detail">

			<h1>Error</h1>

		</section><!-- well -->

		<% include partials/template/footer.ejs %>
	</body>
</html>